
$negativeColor : #FFFFFF
$graygreen: #263239
$green: #1CBB9B


=small
	@media only screen and (max-width: 768px)
		@content

=medium
	@media only screen and (max-width: 1048px)
		@content

body
	font-family: 'Yanone Kaffeesatz', sans-serif
	font-weight: 200
a
	text-decoration: none

		
.web-nav
	display: block
	ul
		float:left
		li
			display: inline
	+small
		display: none

.wrap 
	box-sizing: border-box
	max-width: 85%
	margin: 0 auto
	+small
		max-width: 	100%
		padding-left: 0rem
		padding-right: 0rem
	+medium
		max-width: 	95%
		padding-left: 0rem
		padding-right: 0rem


				

.srvs-hero-h
	margin-top: 0px
	width: 100%
	background-color: $graygreen
	min-height: 300px
	padding-top: 46px
	top: 0px
	position: fixed
	-webkit-transition: all 0.3s
	transition: all 0.3s
	+small
		padding-top: 0px

	.mobile-nav
		display: none
	.web-nav
		display: none
	.srvs-logo
		margin: 0 auto
		width: 160px
		-webkit-transition: all 0.3s
		transition: all 0.3s
		+small
			padding-top: 46px
	h1
		text-align: center
		font-weight: 200
		color: $negativeColor
		font-size: 48px
		margin-top: -5px
		margin-bottom: 0px
		-webkit-transition: all 0.3s
		transition: all 0.3s

	.st0
		fill: $negativeColor
		stroke: $negativeColor
		stroke-width: 0.8
		stroke-miterlimit: 10
		-webkit-transition: all 0.3s
		transition: all 0.3s
	h2
		margin-top: 0px
		text-align: center
		font-weight: 100
		color: $green
		font-size: 1.2em

	.mouse
		display: block
		opacity: 1
		margin: 0 auto
		width: 26px
		height: 46px
		border-radius: 13px
		border: 1px solid $negativeColor
		bottom: 30px
		position: absolute
		left: 50%
		margin-left: -14px
		+small
			display: none
		span
			display: block
			margin: 6px auto
			width: 1px
			height: 1px
			border-radius: 4px
			background: $green
			border: 1px solid transparent
			-webkit-animation-duration: 1s
			animation-duration: 1s
			-webkit-animation-fill-mode: both
			animation-fill-mode: both
			-webkit-animation-iteration-count: infinite
			animation-iteration-count: infinite
			-webkit-animation-name: scroll
			animation-name: scroll

	@keyframes scroll 
		0%
			opacity: 1
			-webkit-transform: translateY(0)
			transform: translateY(0)
		100%
			opacity: 1
			-webkit-transform: translateY(20px)
			transform: translateY(20px)

.srvs-nav-h
	width: 100%
	background-color: #263239
	max-height: 120px
	min-height: 50px
	padding-bottom: 12px
	padding-top: 0px
	top: 0px
	z-index: 999
	.web-nav
		display: block
		margin-right: 10%
		font-size: 1.2em
		float: right
		ul
			margin-bottom: 10px
		li
			display: inline
			margin-left: 12px
		a
			color: $negativeColor
		+small
			display: none

	.srvs-logo
		width: 56px
		float: left
		margin-bottom: 0px
		margin-left: 10px
		bottom: 0px
		right: 0px
		padding-top: 10px
		+small
			right: initial
			margin: 0 auto
			float: none



	h1
		font-weight: 300
		margin-bottom: 0px
		margin-top: 0px
		font-size: 28px
		float: left
		padding-left: 10px
		padding-top: 18px
		bottom: 0px
		+small
			display: none


	.st0
		stroke-width: 2.2
		stroke-miterlimit: 10

	h2
		display: none

	.mouse
		opacity: 0
		bottom: -120px

.srvs-contact

	display: none
	+small
		display: inline
		position: absolute
		left: 12px
		top: 19px
		width: 42px
		float: right

.mobile-toggle
	display: none
	cursor: pointer
	font-size: 20px
	position: absolute
	right: 12px
	top: 22px
	width: 30px
	webkit-transition: all 200ms ease-in
	moz-transition: all 200ms ease-in
	transition: all 200ms ease-in
	+small
		display: block
	span
		width: 30px
		height: 1px
		margin-bottom: 8px
		border-radius: 1000px
		background: #1CBB9B
		display: block

.open-nav
	padding-bottom: 0px
	max-height: 700px !important
	.mobile-nav
		position: relative 
		display: block
		margin: 0 auto
		ul
			width: 100%
			padding: 0
			margin: 0
			li
				list-style: none
				text-align: center
				font-size: 2rem
				color: $green
				padding: 15px
				border-bottom: 1px $negativeColor solid
				a
					color: $green
	.mobile-toggle
		transform: rotate(-90deg)
		-webkit-transform: rotate(-90deg)

	.web-nav
		display: none


.row-h
	width: 100%
	margin: 0 auto
	max-width: 1200px
	position: relative

.row
	margin: 0 auto

.features
	padding-top: 340px
	padding-bottom: 50px
	margin: 0 auto
	color: $graygreen
.center-title
	text-align: center
	font-size: 2em
	font-weight: 200
	margin-top: 40px
	strong
		color: $green
		font-weight: 200
	+small
		font-size: 2em

.srvs-box
	margin-top: 20px
	margin-bottom: 30px
	padding-left: 20px
	padding-right: 20px
	.offer-img
		height: 80px
		margin: 0 auto
		display: block

	h3
		display: block
		font-weight: 200
		color: $green
		text-align: center
		margin: 0px
		padding: 10px

		+medium
			text-align: center

	p
		line-height: 130%
		font-size: 1.2em
		margin-top: 0px
		text-align: center
		+medium
			text-align: center
	h2
		font-weight: 200
		width: 100%
		color: $green
		text-align: center
		margin: 0px
		padding: 10px

		a
			color: $green
			text-decoration: none
			font-weight: 400	



.init-project
	padding-top: 30px
	background-color: $green
	padding-bottom: 15px
	h3
		font-weight: 100
		font-size: 2em
		color: $negativeColor
		margin-bottom: 0px
		margin-top: 0px

	p
		margin-top: 0px
		font-size: 1.4em
		font-weight: 200
		color: $negativeColor



.btn
	float: right
	background: none
	color: $negativeColor
	font-size: 1.5em
	font-weight: 200
	border: 2px solid $negativeColor
	display: inline-block
	padding: 0 1.25em
	line-height: 2.4
	border-radius: 1.5em
	transition: 0.4s
	margin-top: 10px
	display: none
	+small
		display: block
		float: none
		margin: 0 auto
	&:hover
		background-color: $negativeColor
		color: $green

.img-service
	height: 100px
	margin: 0 auto
	display: block



.chooseus
	color: $negativeColor
	background-color: $graygreen
	padding-top: 28px
	padding-bottom: 28px
	p
		font-weight: 200
	.logo-lg
		margin: 18px
		+small
			display: none

.technologies
	padding-bottom: 20px

.tech
	width: 48px
	padding: 32px
	display: flex
	align-items: center
	img
		width: 100%
		max-height: 48px
		vertical-align: middle
.layout
	width: 100%

.options-select
	display: block

#filters
	li
		display: inline-block
		margin: 0 5px

		a
			display: block
			background-color: #EEEEEE
			border-radius: 3px
			padding: 8px 15px
			text-transform: uppercase
			color: #222222
			margin-bottom: 15px
			transition: all 0.3s ease 0s
			-moz-transition: all 0.3s ease 0s
			-webkit-transition: all 0.3s ease 0s
			&:hover
				color: #FFFFFF
				text-decoration: none
				background-color: $green

			&.selected
				background-color: $green
				color: #FFFFFF
				text-decoration: none


.caso
	width: 500px
	float: left
	padding: 0
	position: relative
	+small
		width: 284px
		float: left
		padding: 0
		position: relative
	+medium
		width: 320px
		float: left
		padding: 0
		position: relative
	label
		color: $green
		font-weight: 400

	img
		display: block
		height: 100px
		margin: 0 auto

.testimonials
	background-color: $graygreen
	padding: 60px 30px
	margin: 0 auto
	img
		width: 135px
		display: block
		margin: 0 auto
		border-radius: 50%
		padding: 5px
		border: 1px $green solid

	blockquote
		color: $negativeColor
		position: relative

		p
			font-size: 	1.6rem
			font-weight: 200
			text-align: center

			&:before
				content: "\201C"
		  
				/*Font*/
				font-family: Georgia, serif
				font-size: 80px
				font-weight: bold
				color: $green
		  
				/*Positioning*/
				position: absolute	
				left: -45px
				top: -15px

			&:after
				content: "\201D"

				/*Font*/
				font-family: Georgia, serif
				font-size: 80px
				font-weight: bold
				color: $green
		  
				/*Positioning*/
				position: absolute	
				right:  -45px
				bottom: -48px

.gray-footer
	background-color: #556763
	height: 40px
.footer
	background-color: $graygreen
	padding: 60px 30px
	margin: 0 auto
	color: $negativeColor
	letter-spacing: 0.2em