
$negativeColor : #FFFFFF
$graygreen: #263239
$green: #1CBB9B


=small
	@media only screen and (max-width: 768px)
		@content

=medium
	@media only screen and (max-width: 1024px)
		@content

body
	font-family: 'Yanone Kaffeesatz', sans-serif
	font-weight: 200
a
	text-decoration: none




.wrap 
	box-sizing: border-box
	max-width: 1080px
	margin: 0 auto

.srvs-hero-h
	margin-top: 0px
	width: 100%
	background-color: $graygreen
	min-height: 300px
	padding-top: 46px
	top: 0px
	position: fixed
	-webkit-transition: all 0.3s
	transition: all 0.3s

	.srvs-logo
		margin: 0 auto
		width: 160px
		-webkit-transition: all 0.3s
		transition: all 0.3s
	h1
		text-align: center
		font-weight: 200
		color: $negativeColor
		font-size: 48px
		margin-top: -5px
		margin-bottom: 0px
		-webkit-transition: all 0.3s
		transition: all 0.3s

	.st0
		fill: $negativeColor
		stroke: $negativeColor
		stroke-width: 0.8
		stroke-miterlimit: 10
		-webkit-transition: all 0.3s
		transition: all 0.3s
	h2
		margin-top: 0px
		text-align: center
		font-weight: 100
		color: $green
		font-size: 1.2em

	.mouse
		display: block
		opacity: 1
		margin: 0 auto
		width: 26px
		height: 46px
		border-radius: 13px
		border: 1px solid $negativeColor
		bottom: 30px
		position: absolute
		left: 50%
		margin-left: -14px
		span
			display: block
			margin: 6px auto
			width: 1px
			height: 1px
			border-radius: 4px
			background: $green
			border: 1px solid transparent
			-webkit-animation-duration: 1s
			animation-duration: 1s
			-webkit-animation-fill-mode: both
			animation-fill-mode: both
			-webkit-animation-iteration-count: infinite
			animation-iteration-count: infinite
			-webkit-animation-name: scroll
			animation-name: scroll


	@keyframes scroll 
		0%
			opacity: 1
			-webkit-transform: translateY(0)
			transform: translateY(0)
		100%
			opacity: 1
			-webkit-transform: translateY(20px)
			transform: translateY(20px)

.srvs-nav-h
	width: 100%
	background-color: #263239
	max-height: 120px
	min-height: 50px
	padding-bottom: 12px
	padding-top: 0px
	top: 0px
	.srvs-logo
		width: 56px
		float: left
		margin-bottom: 0px
		bottom: 0px
		right: 0px
		padding-top: 10px
	h1
		font-weight: 300
		margin-bottom: 0px
		margin-top: 0px
		font-size: 34px
		float: left
		padding-left: 10px
		padding-top: 10px
		bottom: 0px

	.st0
		stroke-width: 2.2
		stroke-miterlimit: 10

	h2
		display: none

	.mouse
		opacity: 0
		bottom: -120px


.row-h
	width: 100%
	margin: 0 auto
	max-width: 1200px
	position: relative

.features
	padding-top: 340px
	padding-bottom: 50px
	margin: 0 auto
	color: $graygreen
.center-title
	text-align: center
	font-size: 2.5em
	font-weight: 200
	margin-top: 40px
	strong
		color: $green
		font-weight: 200
	+small
		font-size: 2em

.srvs-box
	margin-top: 20px
	margin-bottom: 30px
	padding-left: 15px
	padding-right: 15px
	.offer-img
		height: 80px
		margin: 0 auto
		display: block

	h3
		display: block
		font-weight: 200
		color: $green
		text-align: center
		margin: 0px
		padding: 10px

		+medium
			text-align: center

	p
		line-height: 130%
		font-size: 1.2em
		margin-top: 0px
		text-align: center
		+medium
			text-align: center
	h2
		font-weight: 200
		color: $green
		text-align: center
		margin: 0px
		padding: 10px



.init-project
	padding-top: 30px
	background-color: $green
	padding-bottom: 15px
	h3
		font-weight: 100
		font-size: 2em
		color: $negativeColor
		margin-bottom: 0px
		margin-top: 0px

	p
		margin-top: 0px
		font-size: 1.4em
		font-weight: 200
		color: $negativeColor



.btn
	float: right
	background: none
	color: $negativeColor
	font-size: 1.5em
	font-weight: 200
	border: 2px solid $negativeColor
	display: inline-block
	padding: 0 1.25em
	line-height: 2.4
	border-radius: 1.5em
	transition: 0.4s
	margin-top: 10px
	+small
		display: block
		float: none
		margin: 0 auto
	&:hover
		background-color: $negativeColor
		color: $green

.img-service
	height: 100px
	margin: 0 auto
	display: block



.chooseus
	color: $negativeColor
	background-color: $graygreen
	p
		font-weight: 200
		



