@charset "UTF-8";
body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 200; }

a {
  text-decoration: none; }

.web-nav {
  display: block; }
  .web-nav ul li {
    display: inline; }
  @media only screen and (max-width: 768px) {
    .web-nav {
      display: none; } }

.wrap {
  box-sizing: border-box;
  max-width: 85%;
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    .wrap {
      max-width: 100%;
      padding-left: 0rem;
      padding-right: 0rem; } }
  @media only screen and (max-width: 1048px) {
    .wrap {
      max-width: 95%;
      padding-left: 0rem;
      padding-right: 0rem; } }

.srvs-hero-h {
  margin-top: 0px;
  width: 100%;
  background-color: #263239;
  min-height: 300px;
  padding-top: 46px;
  top: 0px;
  position: fixed;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  @media only screen and (max-width: 768px) {
    .srvs-hero-h {
      padding-top: 0px; } }
  .srvs-hero-h .mobile-nav {
    display: none; }
  .srvs-hero-h .web-nav {
    display: none; }
  .srvs-hero-h .srvs-logo {
    margin: 0 auto;
    width: 160px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    @media only screen and (max-width: 768px) {
      .srvs-hero-h .srvs-logo {
        padding-top: 46px; } }
  .srvs-hero-h h1 {
    text-align: center;
    font-weight: 200;
    color: #FFFFFF;
    font-size: 48px;
    margin-top: -5px;
    margin-bottom: 0px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .srvs-hero-h .st0 {
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-width: 0.8;
    stroke-miterlimit: 10;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .srvs-hero-h h2 {
    margin-top: 0px;
    text-align: center;
    font-weight: 100;
    color: #1CBB9B;
    font-size: 1.2em; }
  .srvs-hero-h .mouse {
    display: block;
    opacity: 1;
    margin: 0 auto;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 1px solid #FFFFFF;
    bottom: 30px;
    position: absolute;
    left: 50%;
    margin-left: -14px; }
    @media only screen and (max-width: 768px) {
      .srvs-hero-h .mouse {
        display: none; } }
    .srvs-hero-h .mouse span {
      display: block;
      margin: 6px auto;
      width: 1px;
      height: 1px;
      border-radius: 4px;
      background: #1CBB9B;
      border: 1px solid transparent;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: scroll;
      animation-name: scroll; }
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
.srvs-nav-h {
  width: 100%;
  background-color: #263239;
  max-height: 120px;
  min-height: 50px;
  padding-bottom: 12px;
  padding-top: 0px;
  top: 0px;
  z-index: 999; }
  .srvs-nav-h .web-nav {
    display: block;
    margin-right: 10%;
    font-size: 1.2em;
    float: right; }
    .srvs-nav-h .web-nav ul {
      margin-bottom: 10px; }
    .srvs-nav-h .web-nav li {
      display: inline;
      margin-left: 12px; }
    .srvs-nav-h .web-nav a {
      color: #FFFFFF; }
    @media only screen and (max-width: 768px) {
      .srvs-nav-h .web-nav {
        display: none; } }
  .srvs-nav-h .srvs-logo {
    width: 56px;
    float: left;
    margin-bottom: 0px;
    margin-left: 10px;
    bottom: 0px;
    right: 0px;
    padding-top: 10px; }
    @media only screen and (max-width: 768px) {
      .srvs-nav-h .srvs-logo {
        right: initial;
        margin: 0 auto;
        float: none; } }
  .srvs-nav-h h1 {
    font-weight: 300;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 28px;
    float: left;
    padding-left: 10px;
    padding-top: 18px;
    bottom: 0px; }
    @media only screen and (max-width: 768px) {
      .srvs-nav-h h1 {
        display: none; } }
  .srvs-nav-h .st0 {
    stroke-width: 2.2;
    stroke-miterlimit: 10; }
  .srvs-nav-h h2 {
    display: none; }
  .srvs-nav-h .mouse {
    opacity: 0;
    bottom: -120px; }

.srvs-contact {
  display: none; }
  @media only screen and (max-width: 768px) {
    .srvs-contact {
      display: inline;
      position: absolute;
      left: 12px;
      top: 19px;
      width: 42px;
      float: right; } }

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 12px;
  top: 22px;
  width: 30px;
  webkit-transition: all 200ms ease-in;
  moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }
  @media only screen and (max-width: 768px) {
    .mobile-toggle {
      display: block; } }
  .mobile-toggle span {
    width: 30px;
    height: 1px;
    margin-bottom: 8px;
    border-radius: 1000px;
    background: #1CBB9B;
    display: block; }

.open-nav {
  padding-bottom: 0px;
  max-height: 700px !important; }
  .open-nav .mobile-nav {
    position: relative;
    display: block;
    margin: 0 auto; }
    .open-nav .mobile-nav ul {
      width: 100%;
      padding: 0;
      margin: 0; }
      .open-nav .mobile-nav ul li {
        list-style: none;
        text-align: center;
        font-size: 2rem;
        color: #1CBB9B;
        padding: 15px;
        border-bottom: 1px #FFFFFF solid; }
        .open-nav .mobile-nav ul li a {
          color: #1CBB9B; }
  .open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); }
  .open-nav .web-nav {
    display: none; }

.row-h {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative; }

.row {
  margin: 0 auto; }

.features {
  padding-top: 340px;
  padding-bottom: 50px;
  margin: 0 auto;
  color: #263239; }

.center-title {
  text-align: center;
  font-size: 2em;
  font-weight: 200;
  margin-top: 40px; }
  .center-title strong {
    color: #1CBB9B;
    font-weight: 200; }
  @media only screen and (max-width: 768px) {
    .center-title {
      font-size: 2em; } }

.srvs-box {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px; }
  .srvs-box .offer-img {
    height: 80px;
    margin: 0 auto;
    display: block; }
  .srvs-box h3 {
    display: block;
    font-weight: 200;
    color: #1CBB9B;
    text-align: center;
    margin: 0px;
    padding: 10px; }
    @media only screen and (max-width: 1048px) {
      .srvs-box h3 {
        text-align: center; } }
  .srvs-box p {
    line-height: 130%;
    font-size: 1.2em;
    margin-top: 0px;
    text-align: center; }
    @media only screen and (max-width: 1048px) {
      .srvs-box p {
        text-align: center; } }
  .srvs-box h2 {
    font-weight: 200;
    width: 100%;
    color: #1CBB9B;
    text-align: center;
    margin: 0px;
    padding: 10px; }
    .srvs-box h2 a {
      color: #1CBB9B;
      text-decoration: none;
      font-weight: 400; }

.init-project {
  padding-top: 30px;
  background-color: #1CBB9B;
  padding-bottom: 15px; }
  .init-project h3 {
    font-weight: 100;
    font-size: 2em;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 0px; }
  .init-project p {
    margin-top: 0px;
    font-size: 1.4em;
    font-weight: 200;
    color: #FFFFFF; }

.btn {
  float: right;
  background: none;
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 200;
  border: 2px solid #FFFFFF;
  display: inline-block;
  padding: 0 1.25em;
  line-height: 2.4;
  border-radius: 1.5em;
  transition: 0.4s;
  margin-top: 10px;
  display: none; }
  @media only screen and (max-width: 768px) {
    .btn {
      display: block;
      float: none;
      margin: 0 auto; } }
  .btn:hover {
    background-color: #FFFFFF;
    color: #1CBB9B; }

.img-service {
  height: 100px;
  margin: 0 auto;
  display: block; }

.chooseus {
  color: #FFFFFF;
  background-color: #263239;
  padding-top: 28px;
  padding-bottom: 28px; }
  .chooseus p {
    font-weight: 200; }
  .chooseus .logo-lg {
    margin: 18px; }
    @media only screen and (max-width: 768px) {
      .chooseus .logo-lg {
        display: none; } }

.technologies {
  padding-bottom: 20px; }

.tech {
  width: 48px;
  padding: 32px;
  display: flex;
  align-items: center; }
  .tech img {
    width: 100%;
    max-height: 48px;
    vertical-align: middle; }

.layout {
  width: 100%; }

.options-select {
  display: block; }

#filters li {
  display: inline-block;
  margin: 0 5px; }
  #filters li a {
    display: block;
    background-color: #EEEEEE;
    border-radius: 3px;
    padding: 8px 15px;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 15px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s; }
    #filters li a:hover {
      color: #FFFFFF;
      text-decoration: none;
      background-color: #1CBB9B; }
    #filters li a.selected {
      background-color: #1CBB9B;
      color: #FFFFFF;
      text-decoration: none; }

.caso {
  width: 500px;
  float: left;
  padding: 0;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .caso {
      width: 284px;
      float: left;
      padding: 0;
      position: relative; } }
  @media only screen and (max-width: 1048px) {
    .caso {
      width: 320px;
      float: left;
      padding: 0;
      position: relative; } }
  .caso label {
    color: #1CBB9B;
    font-weight: 400; }
  .caso img {
    display: block;
    height: 100px;
    margin: 0 auto; }

.testimonials {
  background-color: #263239;
  padding: 60px 30px;
  margin: 0 auto; }
  .testimonials img {
    width: 135px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    padding: 5px;
    border: 1px #1CBB9B solid; }
  .testimonials blockquote {
    color: #FFFFFF;
    position: relative; }
    .testimonials blockquote p {
      font-size: 1.6rem;
      font-weight: 200;
      text-align: center; }
      .testimonials blockquote p:before {
        content: "“";
        /*Font */
        font-family: Georgia, serif;
        font-size: 80px;
        font-weight: bold;
        color: #1CBB9B;
        /*Positioning */
        position: absolute;
        left: -45px;
        top: -15px; }
      .testimonials blockquote p:after {
        content: "”";
        /*Font */
        font-family: Georgia, serif;
        font-size: 80px;
        font-weight: bold;
        color: #1CBB9B;
        /*Positioning */
        position: absolute;
        right: -45px;
        bottom: -48px; }

.gray-footer {
  background-color: #556763;
  height: 40px; }

.footer {
  background-color: #263239;
  padding: 60px 30px;
  margin: 0 auto;
  color: #FFFFFF;
  letter-spacing: 0.2em; }

/*# sourceMappingURL=srvs-styles.css.map */
