body {
  font-family: "Yanone Kaffeesatz", sans-serif; }

.wrap {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto; }

.srvs-hero-h {
  margin-top: 0px;
  width: 100%;
  background-color: #263239;
  min-height: 300px;
  padding-top: 46px;
  top: 0px;
  position: fixed;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .srvs-hero-h .srvs-logo {
    margin: 0 auto;
    width: 160px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .srvs-hero-h h1 {
    text-align: center;
    font-weight: 200;
    color: #FFFFFF;
    font-size: 48px;
    margin-top: -5px;
    margin-bottom: 0px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .srvs-hero-h .st0 {
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-width: 0.8;
    stroke-miterlimit: 10;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .srvs-hero-h h2 {
    margin-top: 0px;
    text-align: center;
    font-weight: 100;
    color: #1CBB9B;
    font-size: 1.2em; }
  .srvs-hero-h .mouse {
    display: block;
    opacity: 1;
    margin: 0 auto;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 1px solid #FFFFFF;
    bottom: 30px;
    position: absolute;
    left: 50%;
    margin-left: -14px; }
    .srvs-hero-h .mouse span {
      display: block;
      margin: 6px auto;
      width: 1px;
      height: 1px;
      border-radius: 4px;
      background: #1CBB9B;
      border: 1px solid transparent;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: scroll;
      animation-name: scroll; }
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
.srvs-nav-h {
  width: 100%;
  background-color: #263239;
  max-height: 120px;
  min-height: 50px;
  padding-bottom: 12px;
  padding-top: 0px;
  top: 0px; }
  .srvs-nav-h .srvs-logo {
    width: 56px;
    float: left;
    margin-bottom: 0px;
    bottom: 0px;
    right: 0px;
    padding-top: 10px; }
  .srvs-nav-h h1 {
    font-weight: 300;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 34px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    bottom: 0px; }
  .srvs-nav-h .st0 {
    stroke-width: 2.2;
    stroke-miterlimit: 10; }
  .srvs-nav-h h2 {
    display: none; }
  .srvs-nav-h .mouse {
    opacity: 0;
    bottom: -120px; }

.row-h {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative; }

a {
  text-decoration: none; }

.features {
  padding-top: 340px;
  padding-bottom: 50px;
  margin: 0 auto;
  color: #263239; }

.center-title {
  text-align: center;
  font-size: 2em;
  font-weight: 200;
  margin-top: 40px; }
  .center-title strong {
    color: #1CBB9B;
    font-weight: 200; }
  @media only screen and (max-width: 768px) {
    .center-title {
      font-size: 1.6em; } }

.srvs-box {
  margin-top: 20px;
  margin-bottom: 20px; }
  .srvs-box .offer-img {
    width: 100%;
    margin: 0 auto;
    display: block; }
    @media only screen and (max-width: 1024px) {
      .srvs-box .offer-img {
        width: 140px; } }
  @media only screen and (max-width: 1024px) {
    .srvs-box h3 {
      text-align: center; } }
  .srvs-box p {
    line-height: 130%;
    font-size: 1.2em; }
    @media only screen and (max-width: 1024px) {
      .srvs-box p {
        text-align: center; } }

.init-project {
  padding-top: 30px;
  background-color: #1CBB9B;
  padding-bottom: 15px; }
  .init-project h3 {
    font-weight: 100;
    font-size: 2em;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 0px; }
  .init-project p {
    margin-top: 0px;
    font-size: 1.4em;
    font-weight: 200;
    color: #FFFFFF; }

.btn {
  float: right;
  background: none;
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 200;
  border: 2px solid #FFFFFF;
  display: inline-block;
  padding: 0 1.25em;
  line-height: 2.4;
  border-radius: 1.5em;
  transition: 0.4s;
  margin-top: 10px; }
  @media only screen and (max-width: 768px) {
    .btn {
      display: block;
      float: none;
      margin: 0 auto; } }
  .btn:hover {
    background-color: #FFFFFF;
    color: #1CBB9B; }

.img-service {
  width: 50px; }

/*# sourceMappingURL=srvs-styles.css.map */
